@import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');

body {
  background-color: #231f20;
  font-family: 'Oranienbaum', serif;
  font-size: 2em;
  margin: 0;
}

h1 {
  color: #fefefe;
  bottom: 10px;
  font-weight: normal;
  text-align: right;
  margin: 0;
}

hr {
  color: #fefefe;
  bottom: 0;
  width: 105%;
  border-style: solid;
  border-width: 1px;
  margin: 0;
}

.main {
  position: absolute;
  width: 90%;
  right: 15%;
  bottom: 15%;
}